parameters:
  level: 5
  treatPhpDocTypesAsCertain: true
  paths:
    - .

  bootstrapFiles:
    - phpstan-bootstrap.php

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon


  excludePaths:
    - vendor/*