includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  level: 5
  treatPhpDocTypesAsCertain: true
  paths:
    - .

  bootstrapFiles:
    - phpstan-bootstrap.php


  excludePaths:
    - vendor/*